#define COMBO_TERM_FAST 18
#define COMBO_TERM_SLOW 30

#define COMBO_IDLE_FAST 150
#define COMBO_IDLE_SLOW 50

// ()
ZMK_COMBO(lround,   &kp LPAR,      LT3 LT2,     BASEL_IND, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(rround,   &kp RPAR,      RT3 RT2,     BASEL_IND, COMBO_TERM_FAST, COMBO_IDLE_FAST)
// []
ZMK_COMBO(lsquare,  &kp LBKT,      LM3 LM2,     BASEL_IND, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(rsquare,  &kp RBKT,      RM3 RM2,     BASEL_IND, COMBO_TERM_FAST, COMBO_IDLE_FAST)
// {}
ZMK_COMBO(lcurly,   &kp LBRC,      LB3 LB2,     BASEL_IND, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(rcurly,   &kp RBRC,      RB3 RB2,     BASEL_IND, COMBO_TERM_FAST, COMBO_IDLE_FAST)
// <>
ZMK_COMBO(langle,   &kp LT,        LM4 LM3,     BASEL_IND, COMBO_TERM_FAST, COMBO_IDLE_FAST)
ZMK_COMBO(rangle,   &kp GT,        RM4 RM3,     BASEL_IND, COMBO_TERM_FAST, COMBO_IDLE_FAST)

// to typing layer
ZMK_COMBO(to_type,   &tog TYPEL_IND,   LT3 LT2,     BASEL_IND, TYPEL_IND)
